doctype html
html(lang="en")
  head
    title= Codeapps
    include javascript.pug
    include stylesheet.pug
  body
    header
      include navbar.pug
      include banner.pug
    article
      block content
      section
        include section.pug
    aside
      include aside.pug
    footer
      include footer.pug
