div.container-fluid
  div.banner
    .container.title Application delivery done right.
      .row.subtitle  Develop and deploy applications across large teams and global infrastructure. CODEAPPS solves development, operations, and security challenges at scale so organizations can focus on business-critical tasks.
