doctype html
html(lang="en")
  head
    include links.pug
    title= Codeapps
  body
    header
      include navbar.pug
      include banner.pug
    block content
    footer
      include footer.pug
