div.container
  nav.navbar.navbar-static-top
    div.navbar-header
      <button class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      div.card
        div.front
          div.input >
          div.block &#9608
        div.back
          div.brand CODEAPPS
    div.buttons.hidden-xs

    ul.nav.navbar-nav.navbar-right
      div.btn-group
        li
          p Portfolio
        li Contact
        li Support
        li News
          a(href="#")
        button.login  MyApps Login
