div.container-fluid
  div.banner
    .container.title Application development done right.
      .row.subtitle  Develop and deploy applications across large teams and global infrastructure. We solves development, operations, and security challenges at scale so organizations can focus on business-critical tasks.
