doctype html
html(lang="en")
  head
    link(rel='text/javascript' href='bootstrap/dist/js/bootstrap.min.js').
    link(rel='text/javascript' href='jquery/dist/jquery.min.js').
    link(rel="stylesheet" type="text/css" href='bootstrap/dist/css/bootstrap.min.css').
    link(rel="stylesheet" type="text/css" href='css/main.min.css').
    title= Codeapps
  body
    header
      include navbar.pug
      include banner.pug
    article
      block content
      section
        include section.pug
    aside
      include aside.pug
    footer
      include footer.pug
