div.container
  nav.navbar
    div.navbar-header
      <button class="navbar-toggle" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      div.card
        div.front
          div.input >
          div.block &#9608
        div.back
          div.brand CODEAPPS

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
        a(href="#login")
          button(class="login") MyApps

        div(id='login' class='overlay')
          div(class='popup')
            form(class='form-signin', action='/login', method='POST')
              input(type='text' name='username' class='form-control', placeholder='Email', required, autofocus)
              input(type='password' name='password' class='form-control', placeholder='Password', required)
              button(type='submit' class='btn-primary' ) Log In
              a(class="close" href="#") &times;
            a(href='/signup')
              button(class='btn-primary' ) Sign Up
            #message
            if message
              h1.text-center.error-message #{message}

      </ul>
    </div>
