div.container
  div.row
    div.col-md-6
      p Powered by ζ Zeta - Copyright © 2016 CODEAPPS
    div.col-md-6
      form(action="/subscribe" method="post")
        input(class="form" type="text" placeholder="Email")
        input(class="subscribe" type="submit" value="Subscribe!")
      p Subscribe to our newsletter for news about our tools. Short, readable and not too often.</p>
