script(rel='text/javascript' href='bootstrap/dist/js/bootstrap.min.js').
script(rel='text/javascript' href='jquery/dist/jquery.min.js').
link(rel="stylesheet" type="text/css" href='bootstrap/dist/css/bootstrap.min.css').
link(rel="stylesheet" type="text/css" href='css/main.min.css').
